@charset "UTF-8";
/* 
=======================================================================================================
◆◆faq.css◆◆
FAQの設定。文章が多いページなので他のページより余白をかなり広げている。
=======================================================================================================
*/

/* 中央揃えとコンテンツ幅の設定 */
/*mainタグを制御すれば1階層少なくて済むが、ieがmainタグを使えないので苦肉の策でdivタグ（#faq）を作ってそれで制御*/
#faq {
	margin: 10px auto;
	width: 100%;
	max-width: 1080px;
}

/* セクションごとにマージン */
.faq_content {
	margin: 35px 10px;
}

/* タイトル（基本トップページと同じ） */
h1 {
	margin: 0;
	margin-bottom: 3px;
	border: 0;
	border-bottom: #A4DAAA solid 3px;
	padding: 3px 5px;
	text-align: center;
}

/* Questionの種類 */
h2 {
	margin-top: 25px;
}

/* Question */
h3 {
	margin-top: 25px;
	margin-bottom: 8px;

}

/* 注釈（インライン要素） */
small {
	font-size: 1.2rem;
}

/* 別タブ明示アイコンサイズ（PCとSPで高さ変える） */
.faq_content img {
	height: 1.6rem;
}
@media (max-width:695px) {
	.faq_content img {
		height: 1.2rem;
	}
}

/* リンクホバー時色変え */
.faq_content a:hover {
	opacity: 0.5;
}