@charset "UTF-8";












/* ---------
メイン
--------- */

#main_visual {
  position: relative; /* introをsliderの中央に配置するために設定 */
  margin-bottom: 30px;
}



.intro {
  margin: 0 ;
  padding: 10px 20px;
  background-color:#133318;
}

.intro h1 {
  margin: 0;
  margin-bottom: 3px;
  border: 0;
  border-bottom: #A4DAAA solid 3px;
  padding: 2px 5px;
  text-align: center;
}

.intro p {
  padding: 0 5px;
}



#top_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twitter {
  max-width: 450px;
  margin: 10px;
}

.twitter_reg {
  padding: 0 16px;
}

.twitter_reg img {
  height: 1.2rem;
}

.twitter_reg span {
  font-size: 1.2rem;
  margin: 0 5px;
}


.youtube {
  max-width: 600px;
  margin: 10px;
}


.fig {
  margin: 10px auto;
}

.video {
  margin: 10px auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}


.youtube p {
  font-size: 1.2rem;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* レスポンシブ。introの位置変更とTwitterとYouTubeを横並び */
@media (min-width:695px) {
  .intro {
    width: 80%;
    max-width: 910px;
    width: 100%;
    background-color: rgba(19,51,24,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px;
  }

  
  #top_info {
    flex-direction: row;
    align-items: stretch;
  }


}


