@charset "UTF-8";
/* 
=======================================================================================================
◆◆twitter_reg.css◆◆
FAQの設定。文章が多いページなので他のページより余白をかなり広げている。
=======================================================================================================
*/

/* 中央揃えとコンテンツ幅の設定 */
/*mainタグを制御すれば1階層少なくて済むが、ieがmainタグを使えないので苦肉の策でdivタグ（#twitter_reg）を作ってそれで制御*/
#twitter_reg {
	margin: 10px auto;
	width: 100%;
	max-width: 1080px;
}

.twitter_reg_content {
	margin: 10px;
}

/* タイトル（基本トップページと同じ） */
h1 {
	margin: 0;
	margin-bottom: 3px;
	border: 0;
	border-bottom: #A4DAAA solid 3px;
	padding: 3px 5px;
	text-align: center;
}

h2 {
	margin-top: 25px;
}

h3 {
	margin-top: 25px;
	margin-bottom: 8px;
	background-color: #444;
	padding: 4px 14px;
}

/* resetしているul,olを再定義*/
.twitter_reg_content ul {
	margin: 1em 0;
	padding-left: 30px;
	padding-right: 10px;
	list-style-type: disc;
}
.twitter_reg_content ol {
	margin: 1em 0;
	padding-left: 30px;
	padding-right: 10px;
	list-style-type: decimal;
}


/* 別タブ明示アイコンサイズ（PCとSPで高さ変える） */
.twitter_reg_content img {
	height: 1.6rem;
}
@media (max-width:695px) {
	.twitter_reg_content img {
		height: 1.2rem;
	}
}



/* リンクホバー時色変え */
.twitter_reg span:hover {
	opacity: 0.5;
}